<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
   <div id="app">
       <form>
           username:<input type="text" v-model="user.username"/><br/>
           password:<input type="text" v-model="user.pwd"/><br/>
           <input type="button" v-on:click="fun()" value="submit">
       </form>
   </div>

   <script>
       new Vue({
           el:"#app",
           data:{
               user:{
                   username:"xx",
                   pwd:"yy"
               }
           },
           methods:{
               fun(){
                   this.user.username="abc"
               }
           }
       })
   </script>
</body>
</html>